
*.xcuserstate
*.xcbkptlist
iOSProgramming4ed-master/04-ViewsAndViewHierarchy/Hypnosister/Hypnosister.xcodeproj/xcuserdata/silence.xcuserdatad/xcschemes/xcschememanagement.plist
iOSProgramming4ed-master/01-SimpleiOSApplication/Quiz/Quiz.xcodeproj/xcuserdata/silence.xcuserdatad/xcschemes/xcschememanagement.plist
iOSProgramming4ed-master/03-ManagingMemoryWithARC/RandomItems/RandomItems.xcodeproj/xcuserdata/silence.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcscheme
*.xcuserstate
